<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>orders</title>
</head>
<body>
    <div class="mb-3 w-75 mx-3 mt-1">
        <label for="exampleFormControlInput1" class="form-label">Client name</label>
        <input class="form-control" id="client-name" type="text" aria-label="readonly input example" readonly value="">
      </div>
      <div class="mb-3 w-75 mx-3">
        <label for="exampleFormControlTextarea1" class="form-label">Note</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" aria-label="readonly input example" readonly></textarea>
      </div>
      <a class="btn btn-primary mx-3" href="#">Go back</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>